<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P7F3R8P');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title>Simple Password Generator</title>
    <meta name="description" content="Password generator like safari password suggestion">
    <meta name="author" content="katakode">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/normalize.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <!--<link rel="icon" type="image/png" href="images/favicon.png">-->
    <style>
        html, body {
            font-family: 'Roboto Mono', monospace;
        }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2161196608328320",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7F3R8P"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="container" id="app">
    <div class="row">
        <div class="ten column" style="margin-top: 5%">
            <h4>Password Generator</h4>
            <p>eg for 4 segments, with 3 chars per segment.<br/><strong>abc-def-ghi-jkl</strong></p>
            <p>Disclaimer:
                <br/>- This page is simple HTML + Javascript, no information/password will be stored on this server
                <br/>- All process run on your local browser.
                <br/>- The cryptographic security is not of my concern. I need simple easy to type password, but also provide some randomness.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="three columns">
            <label for="nSegment">Total Segment</label>
            <input class="u-full-width" type="text" id="nSegment" v-model="totalSegment">
        </div>
        <div class="three columns">
            <label for="nChar">Char per Segment</label>
            <input class="u-full-width" type="text" id="nChar" v-model="charPerSegment">
        </div>
        <div class="three columns">
            <label for="separator">Separator</label>
            <input class="u-full-width" type="text" id="separator" v-model="separator">
        </div>
        <div class="three columns">
            <label for="nChar">&nbsp;</label>
            <button v-on:click="generate" type="button" class="button-primary" id="generate">Generate</button>
        </div>
    </div>
    <hr>
    <h4 v-for="pass in passwords">
        {{pass}}
    </h4>
    <hr>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Password Generator -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2161196608328320"
         data-ad-slot="9962724931"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <hr>
    <footer>
        <p>Copyright &copy; 2018 katakode.com</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            charPerSegment: 3,
            totalSegment: 4,
            separator: '-',
            passwords: []
        },
        methods: {
            generate: function () {
                // 'I' removed, its similar to lowercase of 'L'
                const chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHJKLMNOPQRSTUVWXYZ1234567890';
                const segments = [];

                for (let s=0; s<this.totalSegment; s++) {
                    let segment = '';

                    for (let c=0; c<this.charPerSegment; c++) {
                        const char = chars.charAt(Math.floor(Math.random()*chars.length));
                        segment += char;
                    }
                    segments.push(segment);
                }

                this.passwords.push(segments.join(this.separator));
            }
        }
    })
</script>
</body>
</html>
